
= render 'goals/header'
- if @goals != []
  .main-box
    .target
      目標：
      = @target
    .count-down
      .count-down__logo
        TIME LIMIT
      .count-down__time{ id: @date}
    .target-graph
      %canvas#target-graph.chartjs-render-monitor{:height => "580", :style => "display: block; height: 37vh; width: 677px;", :width => "1354"}
      %script
        $(document).on('turbolinks:load',function(){
        var ctx = document.getElementById('target-graph').getContext('2d');
        var chart = new Chart(ctx, {
        type: 'line',
        data: {
        datasets: [{
        data: [],
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 132, 0.5)',
        lineTension: 0 ,
        label: '貯金'
        }]
        },
        options: {
        scales: {
        xAxes: [{
        type: 'realtime',
        time: {
        unit: 'second'
        } 
        }]
        },
        plugins: {
        streaming: {           
        duration: 15000,    
        refresh: 1000,      
        delay: 1000,        
        frameRate: 30,      
        pause: false,       
        onRefresh: function(chart) {
        chart.data.datasets[0].data.push({
        x: Date.now(),
        y: countUp()
        });
        }
        }
        }
        }
        });
        });
        let a = 0;
        function countUp() {
        var currentSaveMoney = $('.save__current').attr('currentsave_id');
        var incomeMonth = $('.save__current').attr('id');
        var incomeYear = incomeMonth * 12;
        var incomeDay = incomeYear / 365;
        var incomeHour = incomeDay / 24;
        var incomeSec = incomeHour / 3600;
        var startDate = $('.save__current').attr('create_id');
        var startDateTime = new Date(startDate);
        var currentDateTime = new Date();
        var spendDate = currentDateTime - startDateTime;
        var currentSave = incomeSec * spendDate / 1000;
        var realTimeSave = currentSave + currentSaveMoney * 1;
        var href = window.location.href;
        $.ajax({
        type: 'GET',
        url: href,
        dataType: 'json'
        }).done (function(data){
        $('.save__current').text(realTimeSave + data.total + "円");
        a = realTimeSave + data.total
        });
        return a;
        };
    .save
      .save__logo
        現在の貯金
      .save__current{ id: @sallary, create_id: @created_at, currentsave_id: @current_save}
      .save__goal
        目標貯金額
      .save__money
        = @save.to_s + "円"
    .form
      = form_for @expenditure, html: {class: 'form__pay'} do |f|
        .form__pay__money
          = f.number_field :expenditure, class: 'form__pay__money__field'
          = f.submit '支出', class: 'form__pay__money__submit'
      = form_for @income, html: {class: 'form__get'}  do |f|
        .form__get__money
          = f.number_field :income, class: 'form__get__money__field'
          = f.submit '収入', class: 'form__get__money__submit'
- else
  .main-box
    .before-decide-target
      目標を決めましょう！
    = link_to '目標を決める', new_goal_path, class: 'new-goal'
= render 'goals/popup', goal: @goal